    <script>
    $(function() {
      $( "#release_date" ).datepicker({ minDate: '-100Y', maxDate: "+2Y", dateFormat: "yy-mm-dd", changeMonth: true,
      changeYear: true });
    });
	
	$('document').ready(function(){
	    $(function() {
	      $( "#configuration_dialog" ).dialog({autoOpen: false,modal:true, title: "Configuración",width:700, height:400,  buttons: [
		      {
				  
		        text: "Actualizar",
				  id: "configuration_save",
		        class: "btn btn-primary",
		        click: function() {
				  $.ajax({ url: "/configs/save?notification_status="+$('#notification_status').is(':checked')+"&time="+$('#time').val()+"&time_type="+$('#time_type').val()+"&emails="+$('#emails').val(),
				    type: 'POST',
				    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
				    success: function(data) {
						//alert(data);
				    }
				});
		          $( this ).dialog( "close" );
		        }
		      },{
      text: "Cancelar",
	  id:"configuration_cancel",
      click: function() {
        $( this ).dialog( "close" );
      }
    }
  ]});
	    });
		
		$("#configuration_button").click(function(){
			$( "#configuration_dialog" ).dialog( "open" );
		});
		
		$("#get_release_date").click(function(){
			  $.ajax({ url: "/movies/get_release_date?title="+$('#title').val()+"&year="+$('#year').val(),
			    type: 'POST',
			    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
			    success: function(data) {
					$('#release_date').val(data.release_date);
			    }
			});
			return false;
		});
		
		
		//add movie
		$("#add_movie").click(function(){
			  $.ajax({ url: "/movies/add_movie?title="+$('#title').val()+"&year="+$('#year').val()+"&release_date="+$('#release_date').val(),
			    type: 'POST',
			    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
			    success: function(data) {
						//alert(data.movie.title);
						//get row
						$(".movie_empty").remove();
						
						if($("#movie_"+data.movie.id).length>0){
							$("#movie_"+data.movie.id).replaceWith('<tr id="movie_'+data.movie.id+'"><td> '+data.movie.id+'</td>	<td><img src="gloria-2013-movie-poster.jpg" style="height:200px"/></td><td>'+data.movie.title+'</td><td>'+data.movie.year+'</td><td>'+data.movie.release_date+'</td><td></td><td></td></tr>');
						}else{
						
							$("#movie_table").append('<tr id="movie_'+data.movie.id+'"><td> '+data.movie.id+'</td>	<td><img src="gloria-2013-movie-poster.jpg" style="height:200px"/></td><td>'+data.movie.title+'</td><td>'+data.movie.year+'</td><td>'+data.movie.release_date+'</td><td></td><td></td></tr>');
						}
			    }
			});
			return false;
		});
	});
	
    </script>




<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Relissio</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="configuration_button">Configuraci&oacute;n</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid " id="configuration_dialog">

<form class="form-horizontal" action="configuration/save" disabled="disabled">
<div class="form-group">
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="notification_status" id="notification_status" <%= (@c.find_by(parameter:'notification_status')).value == 'true' ? 'checked=checked' : ''%>"><label for="notification_status">Notificar el estreno de la pel&iacute;cula:</label>
        </label>
      </div>
    </div>
  </div>

<div class="row">
<div class="col-xs-2">
<input type="text" name="time" id="time" min="0" class="form-control" maxlength="5" placeholder="Tiempo" value="<%= (@c.find_by(parameter:'time')).value %>" >
 </div>
 <div class="col-xs-3">
 <select name="time_type" id="time_type" class="form-control">
	<option value='D' <%= (@c.find_by(parameter:'time_type')).value == 'D' ? 'selected' : ''%>>D&iacute;as</option>
	<option value='W' <%= (@c.find_by(parameter:'time_type')).value == 'W' ? 'selected' : ''%>>Semanas</option>
</select>
  </div>
   <div class="col-xs-5">
  <p>antes de la fecha de estreno.</p>
    </div>

  </div>



<label for="emails">A los correos:</label>
<input type="text" name="emails" id="emails" class="form-control" maxlength="400" value="<%= (@c.find_by(parameter:'emails')).value %>" placeholder="Correos electr&oacute;nicos"><p>*Se pueden introducir varios correos electronicos separados por coma.</p>

</form>
</div>


<div class="container-fluid">
	
<h2>Notificador de pel&iacute;culas<br/><small>Notificador de cuando una pel&iacute;cula ha sido lanzada.</small></h2>

<p></p>
</div>
<br />



<div class="container-fluid">	
<h4>Formulario de sugestion de pel&iacute;culas:</h4>
<%= form_tag( {controller: "movies", action: "add_movie"}, method: "post", class: "form-inline" ) %>
<!-- <form class="form-inline"> -->
<label for="title">Titulo:</label>
<input type="text" name="title" required id="title" class="form-control" maxlength="200" placeholder="Titulo">
<label for="year">A&ntilde;o:</label>
<input type="number" name="year" required id="year" min="1900" max='2018' value="2016" class="form-control" placeholder="A&ntilde;o">
<label for="release_date">Fecha de lanzamiento:</label>

<div class="input-group">
<input type="text" name="release_date" id="release_date" class="form-control" maxlength="200" placeholder="Fecha de lanzamiento" readonly="readonly">
<div class="input-group-btn">
<button type="button" class="btn btn-default" id="get_release_date">
  <span class="glyphicon glyphicon-zoom-in"></span>
</button>
</div>
</div>

<input type="submit" value="Agregar" class="btn btn-primary form-control" id="add_movie">
<%= csrf_meta_tag %>
</div>

<br />

<div class="table-responsive container-fluid">
<table class="table table-striped table-hover" id="movie_table">
 <caption>Notificar los estrenos de:</caption>
<thead>
<tr>
<th>
#
</th>
<th>
Poster
</th>
<th>
T&iacute;tulo
</th>
<th>
A&ntilde;o
</th>
<th>
Lanzamiento
</th>
<th>
Notificada
</th>
<th>
Eliminar
</th>
</tr>
</thead>
<tbody>


<% if@movies.count == 0%>
<tr class="movie_empty">
	<td colspan="7">
	-No hay pel&iacute;culas registradas-
	</td>
</tr>
<%end%>


<% @movies.each do |m|%>
<tr id="movie_<%= m.id %>">
	<td>
	<%= m.id %>
	</td>	
	<td>
	<img src="<%= m.poster %>" style="height:200px"/>
	</td>
	<td>
	<%= m.title %>
	</td>
	<td>
	<%= m.year %>
	</td>
	<td>
	<%= m.release_date %>
	</td>
	<td>
		<% if m.notified %>
			<span class="glyphicon glyphicon-check"></span>
		<%end%>
	</td>
	<td>
		X
	</td>
</tr>
<%end%>

</table>
</div>